
  
  /* ---- style canvas ---- */
  
  body {
    background-color: rgb(122, 120, 120);
    height: 100vh;
  }
  
  canvas {
    border: rgb(211, 210, 210) solid 1px;
    background-color: rgb(4, 112, 9);
    color: rgb(243, 241, 233);
  }
  
  
  
  /*----- end style canvas --- */
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: rgb(49, 88, 88);
    color: white;
    padding: 10px;
    height: 100vh;
    width: 100vw;
  }
  
  /* ---- style game ---- */
  
  
  .modal-game {
    opacity: 1;
    display: visible;
    font-size: 20px;
  }
  
  /* --------- content game ---- */

  .title{
      text-align: center;
      font-size: 28px;
      margin-bottom: 20px;
  }  

  .parameters{
      display: flex;
     justify-content: space-around;
     border: 1px solid gray;
     border-radius: 5px;
     background-color: gray;
     margin-bottom: 30px;
  }

  .container{
      display: flex;
      justify-content: space-evenly;
      height: 80vh;
  }

  .letters{
      width: 60%;
      border: yellow;
      background-color: yellowgreen;
  }

  .static-pendu{
      width: 40%;
      border: yellowgreen;
      background-color: rgb(205, 133, 50);
  }

  .hideword{
      font-size: 50px;
      text-align: center;
      color: white;
  }